
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #321165;
  padding: 10px 20px;
  margin: -10px;
}

.logo img{
  width: 55px;
  height: 60px;
  margin-top: -10px;
  margin-bottom: -10px;
  cursor: pointer;
}

.search {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  padding: 5px 10px;
}

.search input {
  border: none;
  outline: none;
  padding: 5px;
  width: 200px;
}

.search-icon {
  margin-left: 10px;
  color: #888;
}

